@import "tailwindcss";
@plugin "daisyui";

body {
  background-image: url(../public/pngtree-man-running-marathon-png-image_14615229.png);
  background-position: center;
  background-size: 130% 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
}
